{% extends 'content_base.html' %}

{% block title %}Dashboard{% endblock %}


{% block content %}
<div class="row h-100 w-100">
    <div class="col-md-6 no-padding">
      <div class="d-flex flex-column h-100">
        <div class="bg-primary flex-column flex-grow-1 flex-centered">

          <div class="flex-grow-2 flex-centered h-100"> 
            <h1>John Alvic P. Viojan</h1>
          </div>
          <div class="flex-grow-4 h-50">
            <p>Web and App Developer</p>
          </div>
          
        </div>
        <div class="bg-success flex-column flex-grow-5 flex-centered">
          <div class="flex-grow-3 h-100 w-100 flex-column d-flex">
            <div class="flex-grow-1 d-flex">
              <div class="flex-grow-1 bg-primary py-4 px-4">
                <div class="row">Row 1: Some simple text</div>
                <div class="row">Row 2: More simple text</div>
                <div class="row">Row 3: Additional text</div>
                <div class="row">Row 4: Text content</div>
                <div class="row">Row 5: Final text</div>
                <!-- Left column content goes here -->
              </div>
              <div class="flex-grow-1 bg-secondary py-4 px-4">
                <div class="row">Row 1: Some simple text</div>
                <div class="row">Row 2: More simple text</div>
                <div class="row">Row 3: Additional text</div>
                <div class="row">Row 4: Text content</div>
                <div class="row">Row 5: Final text</div>
                <!-- Right column content goes here -->
              </div>
            </div>
            <h1>John Alvic P. Viojan</h1>
          </div>
          
          
          
          <div class="flex-grow-3 h-100">
            <p>Web and App Developer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 no-padding">
      <div class="d-flex flex-column h-100">
        <div class="bg-info flex-grow-1">
            <!-- Top section of the second column -->
            <p>Top Row</p>
          </div>
          <div class="bg-warning flex-grow-1">
            <!-- Bottom section of the second column -->
            <p>Bottom Row</p>
          </div>
      </div>
    </div>
</div>
{% endblock %}
